<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Assign course</title>
</head>

<body>
<header th:replace="fragments/header :: header"></header>

<div class="block">
    <h1>Назначить курс</h1>
</div>
<form form th:method="post" th:action="@{/course/{courseId}/assign(courseId = ${courseId})}">
<div class="block">
    <label for="userId">Выберите пользователя:</label>
    <select id="userId" name="userId">
        <option th:each="user :${users}"
                th:value="${user.id}"
                th:text="${user.username}">Имя
        </option>
    </select>
    <button class="submit-button" type="submit">Назначить</button>
</div>
</form>
</body>
</html>