<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/style.css}">
	<title>Create course</title>
</head>
<body>
	<header th:replace="fragments/header :: header"></header>
	<div class="block">
		<h1>Создать курс</h1>
	</div>
	<div class="block">
		<img src="", title="course pic">
	</div>
	<form th:object="${course}" th:method="post" th:action="@{/course}">
		<div class="block">
				<input type="hidden" th:field="*{id}">
				<label for="pic">Выберите обложку курса</label>
				<input type="file" name="pic">
				<button class="submit-button">Обновить</button>
				<label for="course-name">Название:</label>
				<input type="text" name="course-name" th:field="*{title}">
				<small  class="hint" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
					Название должно быть заполнено
				</small>
				<label for="author">Автор:</label>
				<input type="text" name="author" th:field="*{author}">
				<small  class="hint" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">
					Автор курса должен быть заполнен
				</small>
				<button class="submit-button" name="submit" value="submit">Сохранить</button>
		</div>
	</form>
	<div class="block">
			<a>Новый урок</a>
			<table>
				<th>Id</th>
				<th>Название</th>
				<th>Action</th>
				<tr>
					<td>1</td>
					<td>Course name</td>
					<td>
						<button class="table-button">Удалить</button><br>
					</td>	

				</tr>
				<tr><td colspan="3">Нет данных</td></tr>
			</table>
		</div>
			<div class="block">
			<span>Пользователи снятые с курса</span>
			<table>
				<th>Id</th>
				<th>Имя пользователя</th>
				<th>Action</th>
				<tr>
					<td>1</td>
					<td>User name</td>
					<td>
						<button class="table-button">Снять с курса</button><br>
					</td>	

				</tr>
				<tr><td colspan="3">Нет данных</td></tr>
			</table>
		</div>
	</div>
</body>
</html>