<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Create course</title>
</head>
<body>

<header th:replace="fragments/header :: header"></header>

<form th:object="${lesson}" th:method="post" th:action="@{/lesson}">
    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{courseId}">

    <div class="block">
        <h1>Создать урок</h1>
    </div>

    <div class="block">
        <label for="title">Создать урок:</label>
        <input type="text" id="title" name="ltitle" th:field="*{title}">
        <small class="validation-error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
            Название должно быть заполнено
        </small>

        <label for="text">Text</label>
        <textarea id="text" name="text" rows="33" cols="33" th:field="*{text}"></textarea>
        <small class="validation-error" th:if="${#fields.hasErrors('text')}" th:errors="*{text}">
            Text shouldn't be empty
        </small>
        <button class="submit-button" name ="submit" value="submit" type="submit">Сохранить</button>
    </div>
</form>
</body>
</html>