<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>User info</title>
</head>
<body>

<header th:replace="fragments/header :: header"></header>

<div class="block">
    <h1>Информация о пользователе</h1>
</div>

<div class="block">
    <form th:method="post" th:action="@{/profile/avatar}" enctype="multipart/form-data">
        <div>
            <label for="avatar">Select avatar picture to upload</label>
            <input id="avatar" name="avatar" type="file"/>
        </div>
        <div>
            <button class="submit-button">Update avatar</button>
        </div>
    </form>
</div>
</body>
</html>