<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>User info</title>
</head>
<body>

<header th:replace="fragments/header :: header"></header>

<div class="block">
    <h1>Информация о пользователе</h1>
</div>

<div class="block">
    <div class="row">
        <div class="column">
            <form th:object="${user}" th:method="post" th:action="@{/profile}" enctype="multipart/form-data">
                <h1>Личная информация</h1>
                <div>
                    <div th:if="${#fields.hasErrors('global')}">
                        <small class="hint" th:each="err : ${#fields.errors('global')}" th:text="${err}"/>
                    </div>
                    <input type="hidden" th:field="*{id}">
                    <label for="user-name">Имя пользователя:</label>
                    <input type="text" name="user-name" id="user-name" th:field="*{username}">
                    <small class="hint" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
                        Имя пользователя не должно быть пустым</small>
                </div>
                <div>
                    <label for="email">E-Mail:</label>
                    <input type="text" name="email" id="email" th:field="*{email}">
                    <small class="hint" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                        Неверный формат адреса электронной почты </small>
                </div>
                <div>
                    <label for="phone">Номер телефона:</label>
                    <input type="text" name="phone" id="phone" th:field="*{phone}">
                    <small class="hint" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">
                        Телефон должен быть заполнен</small>
                </div>
                <div>
                    <label for="nick-name">Отображаемое имя:</label>
                    <input type="text" name="nick-name" id="nick-name" th:field="*{nickname}">
                    <small class="hint" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">
                        Имя пользователя не должно быть пустым</small>
                </div>
                <div>
                    <label for="password">Пароль:</label>
                    <input type="password" id="password" name="password" th:field="*{password}">
                    <small class="hint" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                        Пароль не должен быть пустым</small>
                </div>
                <div>
                    <label for="password-again">Пароль еще раз:</label>
                    <input type="password" id="password-again" name="password-again" th:field="*{passwordConfirm}">
                    <small class="hint" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">
                        Пароли должны совпадать
                    </small>
                </div>
                <div>
                    <label for="avatar">Select avatar picture to upload</label>
                    <input id="avatar" name="avatar" type="file"/>
                </div>
                <div>
                    <button class="dark-button">Обновить информацию</button>
                </div>
            </form>
        </div>
        <div class="column">
            <h1>Информация о курсах</h1>
            <div class="row" th:unless="${courses.empty}" th:each="course : ${courses}">
                <label class="course-label" for="user-course">
                    <a th:text="${course.title}" th:href="@{/course/{id}(id = ${course.id})}">Course:</a>
                </label>
                <progress id="user-course" max="100" value="69"> 69%</progress>
                <form class="inline"
                      th:method="post"
                      th:action="@{/course/{id}/remove/{userId}(id = ${course.id},userId=${user.id})}">
                    <button class="dark-button" type="submit">Покинуть курс</button>
                </form>

            </div>
        </div>
    </div>

</div>
</body>
</html>