<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Подтверждение регистрации</title>
</head>
<body>

<header th:replace="fragments/header :: header"></header>

<div class="block">
    <h1>Подтверждение регистрации</h1>
</div>

<div class="block">
    <span class="text">Регистрация подтверждена успешно</span>
</div>

</body>
</html>