<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>User info</title>
</head>
<body>

<header th:replace="fragments/header :: header"></header>

<div class="block">
    <h1>Информация о пользователе</h1>
</div>

<form th:object="${user}" th:method="post" th:action="@{/user}">
    <div class="block">
        <input type="hidden" th:field="*{id}">
        <label for="user-name">Имя пользователя:</label>
        <input type="text" name="user-name" id=user-name th:field="*{username}">
        <small class="hint" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
            Имя пользователя не должно быть пустым</small>
        <label for="email">E-Mail:</label>
        <input type="text" name="email" id = "email" th:field="*{email}" >
        <small class="hint" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
            Неверный формат адреса электронной почты </small>
        <label for="phone">Номер телефона:</label>
        <input type="text" name="email" id = "phone" th:field="*{phone}" >
        <small class="hint" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">
            Неверный формат номера телефона </small>
        <label for="nick-name">Никнейм пользователя:</label>
        <input type="text" name="nick-name" id = "nick-name" th:field="*{nickname}" >
        <small class="hint" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">
            Никнейм пользователя не должно быть пустым</small>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" th:field="*{password}">
        <small class="hint" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
            Пароль не должен быть пустым</small>
        <div sec:authorize="hasRole('ADMIN')">
            <label for="roles">Roles</label>
            <select multiple class="form-control" id="roles" th:field="*{roles}">
                required>
                <option th:each="role : ${roles}"
                        th:text="${role.name}"
                        th:value="${role.id}"
                        th:selected="${user.roles?.contains(role)}">

                </option>
            </select>
        </div>

        <button class="submit-button">Создать</button>
    </div>
</form>
</body>
</html>